<app-header></app-header>
<main>
  <p class="flex-d">
    <mat-card class="form mat-elevation-z4">
      <mat-card-title>Pesquise o clima da sua cidade</mat-card-title>
        <mat-form-field class="full-width">
          <mat-label>Digite o Nome da Cidade</mat-label>
          <input matInput placeholder="Nome da Cidade" #box>
        </mat-form-field>
        <mat-progress-bar *ngIf="pesquisa" class="space" mode="indeterminate"></mat-progress-bar>
      <button type="submit" mat-raised-button color="primary" (click)="submit(box.value)"> buscar </button>

    </mat-card>

    <mat-card class="box color mat-elevation-z4">
      <mat-card-title class="title">{{weather.name}}</mat-card-title>
      <div class="flex-d temp">
        <span>{{weather.main.temp | number:'1.0-0' }}°C</span>
        <img [src]="image" alt="icon">
      </div>
      <mat-card-footer class="footer-card">
        <span>{{weather.weather.description}}</span>
      </mat-card-footer>
    </mat-card>
  </p>
</main>
<app-footer></app-footer>

